header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header h1 {
    margin-left: 20px; }

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flexbox;
  justify-content: center;
  background-color: #f4f4f4; }
